<div style="margin-top: 40px;"></div>
<div class="row">
    <div class="col-sm-7 col-sm-offset-1" style="max-height: 800px; overflow: scroll">

        <div style="margin-bottom: 30px;">
            <h1 style="font-weight: 400; font-size: 28px; color: #555">Your Returns</h1>
        </div>

        <div class="panel panel-default not-col-sm-12" ng-repeat="myreturn in myReturns track by $index">
            <div class="panel-heading row" style="font-size: 11px; font: Arial,sans-serif; background-color: #f6f6f6; background-image: none;color: #555">
                <div class="col-sm-3">ORDER PLACED <br /> {{ dateFormat(myreturn.created) }}</div>
                <div class="col-sm-2">TOTAL <br /> {{myreturn.returnItems.length}}</div>
                <div class="col-sm-3">ORDER BY <br /> {{myreturn.user.displayName}}</div>
                <div class="col-sm-3 pull-right">ORDER # <br /> {{myreturn["_id"]}}</div>
                <!--<span>num items: {{myreturn.returnItems.length}}</span>
            <span>status: open</span>-->
            </div>
            <div class="panel-body" notstyle="min-height: 500px;">

                <span ng-repeat="item in myreturn.returnItems"> <img style="max-width:70px; max-height: 70px;" src="{{item.images[0]}}" /></span>

            </div>
        </div>
    </div>

</div>
