<div>
    <div class="row" style="height:100px"></div>
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-primary" ng-if="customerReturns!=undefined && customerReturns!=null">
            <div class="panel-heading">
                <span style="font-size: 24px">Create Return Request:</span>
            </div>
            <div class="panel-body" style="min-height: 500px;">

                <div class="cont" ng-hide="customerReturns.returnItems == undefined || customerReturns.returnItems == null || customerReturns.returnItems.length == 0">
                    <div class="col-sm-11">
                        <!-- Directive to display Customer Return Items -->
                        <customer-return></customer-return>

                        <div style="height:50px;"></div>

                        <a class="btn btn-success" ui-sref="productsearch">Add Product</a>
                    </div>
                </div>




                <div class="row" ng-hide="customerReturns.returnItems.length > 0">

                    <div class="bs-callout bs-callout-info"
                         style="margin-top:0px; padding: 20px;">

                        <div class="col-sm-4 col col-sm-offset-4" style="margin-top:20px;border: 1px solid #eee; border-left-width: 5px; border-left-color: #aa6708;border-radius: 3px; ">
                            <h4 style="margin: 40px 10px 50px 30px;"><i>Your return list is empty</i></h4>
                            <p>
                                To create your return, you need to
                                <ol>
                                    <li><a ui-sref="productsearch">Go to our Search-Poducts</a> section</li>
                                    <li>Search by the UPC of your toy, or use the Brand and or Title keywords to find your product</li>
                                    <li>When the toy you want to return, click the upperleft corner where it says "add to return"</li>
                                    <li>Once you've added all your intended returns, save and complete the return request</li>
                                </ol>

                                <!--<div class="row>">
                                <b>Notes</b>
                            </div>
                            <ul>
                                <li>You must be logged in to submit your return</li>
                                <li>To <B><i>register</i></B>, you will be asked connect with a <B><i>social networking </i></B>
                                <i style="width:10px;" class="fa fa-facebook-official fa-lg" aria-hidden="true"></i> site to validate your identity</li>
                            </ul>-->
                        </div>
                    </div>

                </div>



            </div>
            <div class="panel-footer">
                <div ng-show="customerReturns.returnItems.length > 0">
                    <a class="btn btn-primary" ng-click="SaveReturns()">Save Return</a>
                </div>
                <div ng-hide="customerReturns.returnItems.length > 0">
                    <a class="btn btn-success" ui-sref="productsearch">Add Product</a>
                </div>
            </div>
        </div>

    </div>
</div>



</div>